<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.blossom.mapper.ReviewFileMapper">
 
 	<insert id="addFile">
		insert into review_file (uuid, uploadPath, fileName, num)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{num})
 	</insert>
 
 	<select id="findByNum" resultType="com.blossom.dto.ReviewFileDto">
 		select * form review_file where num = #{num}
 	</select>
 	
 	<select id="reviewList" resultType="com.blossom.dto.ReviewFileDto">
 		select num, uuid, uploadpath, filename
 			from review_file
 		where rowid in
 		(select max(rowid) from review_file group by num) and num = #{num}
 	</select>
 
 </mapper>