<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.blossom.mapper.ReviewMapper">
 	
 	<insert id="reviewInsert">
 		<selectKey keyProperty="num" order="BEFORE" resultType="int">
 		select blossom_review_seq.nextVal from dual
 		</selectKey>
 		insert into blossom_review (num, title, writer, content, regdate)
 			values (#{num}, #{title}, #{writer}, #{content}, sysdate)
 	</insert>
 
 	<!-- <insert id="reviewInsert">
 		insert into blossom_review (num, title, writer, content, regdate, uuid, uploadPath, fileName, fileType)
 		values (blossom_review_seq.nextval, #{title}, #{writer}, #{content}, sysdate, #{uuid}, #{uploadPath}, #{fileName}, #{fileType})
 	</insert> -->
 
 </mapper>